<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="this.form.invalid">Save</button>
          <button (click)="onCancel()" class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>