<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ vehicle.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ vehicle.manufacturer }} - {{ vehicle.model }} - {{ vehicle.year }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage Vehicle <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li style="cursor: pointer;" (click)="onEditVehicle()">Edit Vehicle</li>
        <li style="cursor: pointer;" (click)="onReminderVehicle()">Reminder Vehicle</li>
        <li style="cursor: pointer;" (click)="onDeleteVehicle()">Delete Vehicle</li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let reminder of vehicle.reminders">
          {{ reminder.reminder.name }}
        </li>
      </ul>
    </div>
</div>