<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-12">
        <app-vehicle-edit></app-vehicle-edit>
      </div>
    </div>
    <hr>
    <app-vehicle-item [vehicle]="vehicle" *ngFor="let vehicle of vehicles"></app-vehicle-item>
  </div>
  <div class="col-xs-7" *ngIf="selectedVehicle; else infoText">
    <app-vehicle-detail [vehicle]="selectedVehicle"></app-vehicle-detail>
  </div>
  <ng-template #infoText>
    <h3>Please select a Vehicle</h3>
  </ng-template>
</div>