<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary">New Vehicle</button>
      </div>
    </div>
    <hr>
    <app-vehicle-item [vehicle]="vehicle" *ngFor="let vehicle of vehicles"></app-vehicle-item>
  </div>
  <div class="col-xs-7" *ngIf="selectedVehicle; else infoText">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ selectedVehicle.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ selectedVehicle.manufacturer }} - {{ selectedVehicle.model }} - {{ selectedVehicle.year }}
      </div>
    </div>
  </div>
  <ng-template #infoText>
    <p>Please select a Vehicle</p>
  </ng-template>
</div>