<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
            <label for="name">Name</label>
            <input 
              type="text"
              id="name"
              class="form-control"
              #nameInput>
            <label for="manufacturer">Manufacturer</label>
            <input 
              type="text"
              id="manufacturer"
              class="form-control"
              #manufacturerInput>
            <label for="model">Model</label>
            <input 
              type="text"
              id="model" 
              class="form-control" 
              #modelInput>
            <label for="year">Year</label>
            <input 
              type="number"
              id="year" 
              class="form-control" 
              #yearInput>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button (click)="onAddItem()" class="btn btn-success sorted" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>