<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="!vehicleForm.valid" style="margin-right: 5px;">Save</button>
            <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input 
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <input 
              type="text"
              id="manufacturer"
              class="form-control"
              formControlName="manufacturer">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="model">Model</label>
              <input 
                type="text"
                id="model" 
                class="form-control" 
                formControlName="model">
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="year">Year</label>
            <input 
              type="number"
              id="year" 
              class="form-control" 
              formControlName="year">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>